<% layout('layouts/boilerplate') %>
<h1>露營地列表</h1>
  <div class="row">
    <span style="text-align: center">↓↓↓以下為範本↓↓↓</span>
  </div>
</div>

<%for(let campground of campgrounds){ %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <%if(campground.image.length){%>
      <img class="img-fluid" src="<%= campground.image[0].url %>" alt="" />
      <%}else{%>
        <img class="img-fluid" src="https://pbs.twimg.com/media/FwHrFwxagAE6ulG?format=png&name=small" alt="" />
        <%}%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >查看 <%= campground.title %></a
        >
      </div>
    </div>
  </div>
</div>
<%} %>
