<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= c.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= c.title %></h5>
        <p class="card-text"><%= c.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= c.location %></li>
        <li class="list-group-item">$<%= c.price %>/night</li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/campgrounds/<%= c._id %>/edit"
          >編輯</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= c.id %>/?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">刪除</button>
        </form>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <h2>留下評論:</h2>
    <form
      method="post"
      action="/campgrounds/<%= c._id %>/reviews"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="rating">星級:</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">評論:</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">送出</button>
    </form>
    <%for(let review of c.reviews){ %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">星級: <%= review.rating %></h5>
        <p class="card-text">評論: <%= review.body %></p>
        <form
          method="post"
          action="/campgrounds/<%= c._id %>/reviews/<%= review._id %>?_method=DELETE"
        >
          <button class="btn btn-sm btn-danger">刪除</button>
        </form>
      </div>
    </div>
    <%}%>
  </div>
</div>
